* { margin: 0; padding: 0; box-sizing: border-box; }
body { 
    text-align: center; 
    background: #ff0000; 
    color: white; 
    font-family: Arial, sans-serif; 
}
canvas { 
    background: rgba(47, 170, 211, 0.308); 
    display: block; 
    margin: auto; 
    border: 2px solid white; 
}
