* { margin: 0; padding: 0; box-sizing: border-box; }
body { 
    text-align: center; 
    background: #ff0000; 
    color: white; 
    font-family: Arial, sans-serif; 
}
canvas { 
    background-image: url(mesa-de-ping-pong-tênis-com-raquete-e-bola-equipamento-visão-superior-jogo-torneio-campo-pingpong-desenho-verde-isolado-tribunal-245648052.jpg.webp);;
    display: block; 
    margin: auto; 
    border: 2px solid white; 
}

